@import "../default";

.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #444;
  display: flex;
  flex-flow: row nowrap;
  color: @color-text-secondary;
}

.shopcart_wrapper {
  position: fixed;
  bottom: .5rem;
  left: 0;
  width: 5rem;
  height: 50px;
  display: flex;
  justify-content: center;
}

.shopcart {
  z-index: 100;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: mix(#e3e3e3, gray);
  box-shadow: 0 0 3px white;
  text-align: center;
  line-height: 40px;
  font-weight: bolder;
  color: white;
}

.shopcart_selected {
  background-color: @brand-primary;
  color: @color-text-base;
  box-shadow: 0 0 3px @brand-primary;
}

.meta {
  flex-grow: 1;
  margin-left: 5rem;
  display: flex;
  align-items: center;
}

.deal {
  flex-basis: 6rem;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.deal_selected {
  background-color: @brand-primary;
  color: @color-text-base;
  &:hover {
    background-color: darken(@brand-primary, 10%);
  }
}

.total_price {
  color: @color-text-base-inverse;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-right: 6px;
  &::before {
    content: '￥';
  }
}

.listContainer {
  display: flex;
  flex-flow: row nowrap;
}

.total {
  text-align: center;
  color: @brand-important;
  font-weight: bold;
  margin-left: .5rem;
  font-size: 1.1rem;
  &::before {
    font-weight: 400;
    content: "\A5";
    font-size: .52rem;
    color: @brand-important;
    margin-right: .053333rem;
    display: inline-block;
  }
}

.price {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: @brand-important;
  font-weight: bold;
  &::before {
    font-weight: 400;
    content: "\A5";
    font-size: .32rem;
    color: @brand-important;
    margin-right: .053333rem;
    display: inline-block;
  }
}

.count {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: @color-text-base;
  font-weight: bold;

  &::after {
    font-weight: 400;
    content: "个";
    font-size: .32rem;
    color: @color-text-base;
    margin-right: .053333rem;
    display: inline-block;
  }
}

.itemName {
  display: inline-block;
  width: 30%;
}

.plus {
  background-color: @brand-primary;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: @font-size-heading;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    background-color: darken(@brand-primary, 10%);
  }
}
